@font-face {
	font-family: 'Congratulations Regular';
	src: url('../fonts/congratulations_demo-webfont.woff2') format('woff2'), url('../fonts/congratulations_demo-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.demo-2 {
	font-family: 'Congratulations Regular', sans-serif;
	--color-text: #000;
	--color-bg: #9c9c9c;
	--color-link: black;
	--color-link-hover: yellow;
	--color-info: #000;
}

button {
	font-family: 'Congratulations Regular', sans-serif;
}

.content__title {
	font-family: 'Congratulations Regular', sans-serif;
	font-size: 4vw;
	margin: 0;
	position: relative;
	font-weight: normal;
}

.content__subtitle {
	font-size: 1.45rem;
	padding: 1rem 0;
	letter-spacing: 2px;
	text-indent: 2px;
}

.content__subtitle::after {
	content: '\2014';
	position: relative;
	display: block;
	font-size: 2.75rem;
	text-align: center;
}

.menu-trigger {
	display: none;
}

.menu-trigger:hover {
	opacity: .5s ease-in-out;
	background-image: url('../img/btn-mn_alt.png');
}

.grim {
	display: none;
}

.content--switch {
	background-size: cover;
}

.content--switch::after {
	content: '';
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
	background: linear-gradient(transparent, #000);
}

#content-1 {
	background-image: url(../img/bg.jpg);
}

#content-2 {
	background-image: url(../img/bg1.jpg);
}

#content-3 {
	background-image: url(../img/bg2.jpg);
}

#content-4 {
	background-image: url(../img/bg3.jpg);
}

#content-5 {
	background-image: url(../img/bg4.jpg);
}

#content-6 {
	background-image: url(../img/bg5.jpg);
}

.menu-trigger:hover {
	opacity: .5s ease-in-out;
}

@media screen and (min-width: 55em) {
	.menu-trigger {
		display: inline-block;
		width: 70px;
		height: 175px;
		background: url('../img/btn-mn.png')transparent no-repeat center;
		background-size: contain;
		color: white;
		padding: 10px 15px;
		border: 0;
		/* grid-area: menu; */
		justify-self: start;
		-ms-flex-item-align: end;
		align-self: end;
		cursor: pointer;
		pointer-events: auto;
		font-family: inherit;
		color: inherit;
		position: relative;
		white-space: nowrap;
	}
	.menu-trigger--close {
		color: #000;
		-ms-flex-item-align: center;
		align-self: center;
		background-image: none;
	}
	.grim {
		display: grid;
		position: fixed;
		z-index: 1000;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		grid-template-columns: repeat(32, 3.125vw);
		grid-template-rows: repeat(32, 3.125vh);
		pointer-events: none;
	}
	.grim--open {
		pointer-events: auto;
	}
	.grim__item {
		position: relative;
		overflow: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.grim__item:first-child {
		grid-area: 31 / 1 / 33 / 2;
	}
	.grim__item:nth-child(2) {
		grid-area: 31 / 2 / 33 / 3;
	}
	.grim__item:nth-child(3) {
		grid-area: 29 / 1 / 31 / 3;
	}
	.grim__item:nth-child(4) {
		grid-area: 29 / 3 / 33 / 5;
	}
	.grim__item:nth-child(5) {
		grid-area: 25 / 1 / 29 / 5;
	}
	.grim__item:nth-child(6) {
		grid-area: 25 / 5 / 33 / 9;
	}
	.grim__item:nth-child(7) {
		grid-area: 17 / 1 / 25 / 9;
	}
	.grim__item:nth-child(8) {
		grid-area: 17 / 9 / 33 / 17;
	}
	.grim__item:nth-child(9) {
		grid-area: 1 / 1 / 17 / 17;
	}
	.grim__item:nth-child(10) {
		grid-area: 1 / 17 / 33 / 33;
	}
	.grim__item-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		-webkit-box-shadow: 0 0 0 2px currentColor;
		box-shadow: 0 0 0 2px currentColor;
		background: currentColor;
	}
	.grim__item-bg--1 {
		color: yellow;
	}
	.grim__item-bg--2 {
		color: blue;
	}
	.grim__item-bg--3 {
		color: #fcfdff;
	}
	.grim__item-bg--4 {
		color: red;
	}
	.grim__item-bg--5 {
		color: black;
	}
	.grim__item-bg--6 {
		color: blue;
	}
	.grim__item-bg--7 {
		color: red;
	}
	.grim__item-bg--8 {
		color: yellow;
	}
	.grim__item-bg--9 {
		color: blue;
	}
	.grim__item-bg--10 {
		color: red;
	}
	.grim__item-img {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 100%;
		background-color: currentColor;
	}
	.grim__item-content {
		position: relative;
		color: #000;
		overflow: hidden;
	}
	.grim__item-content:hover,
	.grim__item-content:focus {
		color: inherit;
	}
	.grim__item-inner {
		padding: 0 1rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		text-align: center;
		position: relative;
		opacity: 0;
	}
	.grim__item-title {
		font-weight: normal;
		margin: 0;
		font-size: 4vmax;
	}
	.grim__item:nth-child(-n+6) .grim__item-title {
		font-size: 2vmax;
	}
	.grim__item:nth-child(5) .grim__item-title {
		color: #fff;
	}
	.grim__item-desc {
		font-size: 0.85rem;
		margin: 0.5rem 0 0 0;
	}
	.grim__item-desc::after {
		content: '\2014';
		position: relative;
		display: block;
		font-size: 1.75rem;
	}
}

.menu-trigger--close {
	background-color: transparent;
}

.menu-trigger--close:hover {
	background-image: none;
	color: red;
}

.neticons {
	font-size: 2rem;
}

.neticons a {
	margin-right: 1rem;
}

.music-wrp {
	max-width: 450px;
}

.music_player {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-template-areas: "thumb label label label" "song song song song";
	margin-bottom: 2rem;
}

.music_player_thumb {
	grid-area: thumb;
	width: 100px;
	height: 100px;
}

.music_player_label {
	grid-area: label;
	display: flex;
	align-items: center;
	background: black;
	color: #fff;
	letter-spacing: 1px;
	font-size: 1.25rem;
	padding: 25px;
}

.music_player_song {
	grid-area: song;
}

.music_player_song audio {
	width: 100%;
}

.text-pill {
	max-width: 450px;
	margin: 30px auto 0;
	padding: 15px;
	background-color: rgba(255, 255, 255, .75);
}

.text-pill p {
	font-size: 1rem;
	font-family: 'Courier New', Courier, monospace;
}

.text-pill p:first-child {
	margin-top: 0px;
}

.sus-wrp {
	max-width: 350px;
	font-size: 1rem;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	background-color: rgba(255, 255, 255, .75);
}

.sus_in,
.sus_sub {
	display: block;
	width: 100%;
	font-size: 1rem;
}

.sus_in {
	padding: 10px 15px;
	color: white;
	background-color: rgba(0, 0, 0, .5);
	border: 0;
	outline: 0;
}

.sus_sub {
	padding: 10px 15px;
	color: white;
	background-color: rgba(0, 0, 0, 1);
	border: 0;
	outline: 0;
}

.sus_sub:hover {
	background: yellow;
}

.grim__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.grim__link:hover {
	color: yellow;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .75);
}

::-moz-placeholder {
	color: rgba(255, 255, 255, .75);
}

:-ms-input-placeholder {
	color: rgba(255, 255, 255, .75);
}

:-moz-placeholder {
	color: rgba(255, 255, 255, .75);
}

.content--switch::after {
	display: none;
	content: '';
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#FFF));
	background: linear-gradient(#FAFAFA, #FFF);
	opacity: .2;
}

.content--switch {
	background-color: #9E9E9E;
	background-position: center;
	background-blend-mode: overlay;
	background-attachment: fixed;
}

.autor-foot .date {
	font-size: 12px;
}